.App {
  background-color: #fafafa;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between;
}

.movies li {
  width: 345px;
  margin-bottom: 20px;
}
